	<!-- # HEADER -->
	<div class="units-row end">

		<!-- # HEADER -->
		<div class="unit-centered unit-100 header">

			<header class="group">

				<div class="navigation-toggle navigation-toggle-white" data-tools="navigation-toggle" data-target="#main-nav">
					<span>МЕНЮ</span>
				</div>

				<nav id="main-nav" class="main-nav navbar navbar-pills end small">
					<ul>
						<li><span class="logo-icon feather-icon-disc color-red"></span>
						</li>
						<li><i>&nbsp;</i>
						</li>
						<li>
							<span class="js-patient">
								<p class="js-patient-reception end">
									#1
								</p>&nbsp;
								<b><p class="js-patient-fio end">
									Донец Ирина Францевна
								</p></b>&nbsp;
								<p class="js-patient-age end">
									52 года
								</p>&nbsp;&nbsp;
								<!-- <button class="btn btn-blue btn-smaller smaller end link-icon">
									<i class="feather-icon-cog"></i>
								</button> -->
							</span>
						</li>
						<li><i>&nbsp;</i>
						<li><span class="link-icon" href="#"><b>Кисты</b></span>
						</li>
						<li><a class="link-icon" href="#">Узлы</a>
						</li>
						<li><a class="link-icon" href="#">Диффузные изменения</a>
						</li>
						
						<li class="right"><a class="link-icon" title="Выйти" href="#"><i class="feather-icon-esc"></i></a>
						</li>
						<li class="right"><a id="js-show-settings" class="link-icon" title="Настройки" href="#" data-tools="modal" data-width="500" data-title="Настройки системы" data-content="#settings" data-blur="true"><i class="feather-icon-cog"></i></a>
						</li>
					</ul>
				</nav>
			</header>

		</div>
		<!-- # END HEADER -->

	</div>
	<!-- # END HEADER -->