	<!-- # SETTINGS -->
	<div id="settings" class="hide">
		<form method="post" action="" class="forms end">
			<label for="text">
				Логотип
				<input type="file" name="file" data-tools="upload" data-url="/upload.php"><br>
				<center><img src="assets/sys/img/logo.png"></center><br>
			</label>
			<label for="text">
				Данные клиники для отчета
				<textarea rows="4" class="width-100">СПб, ул. Туристкая, д.22, ст. метро «Старая Деревня»; Телефон: (812) 748-22-10. E-mail: info@odintsovclinic.ru; www.odintsovclinic.ru
				</textarea>
			</label>
			<label class="end">
				Ф.И.О. врача
				<input type="text" name="user-password" class="width-100" value="Одинцов Владислав Александрович" />
			</label>
		</form>
	</div>
	<!-- # END SETTINGS -->