// ### LINK COLORS BY DEFAULT
//@link-color: #2575ed;
//@link-color-border: rgba(39, 170, 225, 0.5);
@link-color: #2575ed;
@link-color-border: rgba(37, 117, 237, 0.3);

@link-hover-color: #e84e1b;
@link-hover-color-border: rgba(232, 78, 27, 0.3);

// ### DEFAULT BORDER RADIUS
@border-radius-base: 4px;

// ### SMALL BORDER RADIUS
@border-radius-small: 4px;

// ### FOOTER HEIGHT
@footer-height: 45px;