// ### FLATATA COLORS
@flatata-black-color: #29303a;
@flatata-gray-color: #b2c1cc;
@flatata-gray-light-color: #d0dbe3;
@flatata-gray-border-color: #e3eaef;
@flatata-blue-color: #4b82ee;
@flatata-blue-dark-color: #4496e8;
@flatata-blue-dark-text-color: #288ff8;
@flatata-blue-light-color: #b4ceff;
@flatata-blue-border-color: #d0dbe3;

@flatata-textarea-border-color: #d5e0e7;

@flatata-text-color: #6b7582;
@flatata-background-color: #edf4f8;

// ### TASK MANAGER COLORS
@task-manager-gray-100-color: #808080;
@task-manager-gray-75-color: #cccccc;
@task-manager-gray-50-color: #e6e6e6;
@task-manager-gray-25-color: #f2f2f2;

@task-manager-background-color: #fff;

@task-manager-blue-color: #407DCD;
@task-manager-blue-pastel-color: #407DCD;
@task-manager-green-color: #3EBD77;
@task-manager-green-pastel-color: #3EBD77;
@task-manager-red-color: #E9322D;
@task-manager-red-pastel-color: #E9322D;
@task-manager-orange-color: #F5A623;
@task-manager-orange-pastel-color: #F5A623;
