	<!-- # MAIN -->
	<div class="wrapper">

		<div class="units-row">
			
<!-- 			<div class="unit-30">
				<table class="table-bordered">
					<tr>
						<td colspan="2"><b>Очаговые изменения в правой МЖ</b></td>
					</tr>
					<tr>
						<td width="5"><b class="color-red">#1</b></td>
						<td width="95">
							Узел 23×12×11 гипоэхогенный горизонтально ориентированный на 10ти часах…(BI-RADS – 4)
						</td>
					</tr>
					<tr>
						<td width="5"><b class="color-red">#2</b></td>
						<td width="95">
							Узел 12×11×10 анэхогенный аваскулярный
						</td>
					</tr>
					<tr>
						<td width="5"><b class="color-red">#3</b></td>
						<td width="95">
							Гипоэхогенный очаг с неровным контуром и расширенными протокамивыполняющий ткань МЖ с 6ти до 7ми часов примерным размером 15×11 мм
						</td>
					</tr>
				</table>
			</div> -->

			<div class="unit-100">

				<div class="size">
					
					<form class="forms forms-inline text-centered">
						<input type="text" class="clone-x" placeholder="Ширина">
						<input type="text" class="clone-y" placeholder="Высота">
						<input type="text" class="clone-z" placeholder="Глубина">
						<input type="text" class="clone-rotate" placeholder="Поворот">
						<button class="btn btn-green btn-outline dimensions-save">Заполнить</button>
					</form>

				</div>
				
				<div class="svg-big">
					
					<svg id="breasts-big">
						
					</svg>
					
					<svg id="cysts">
							
					</svg>

				</div>

			</div>
			
			<!-- <div class="unit-30">
				<table class="table-bordered">
					<tr>
						<td colspan="2"><b>Очаговые изменения в левой МЖ</b></td>
					</tr>
					<tr>
						<td width="5"><b class="color-red">#1</b></td>
						<td width="95">
							Узел 23×12×11 гипоэхогенный горизонтально ориентированный …(BI-RADS – 4)
						</td>
					</tr>
					<tr>
						<td width="5"><b class="color-red">#2</b></td>
						<td width="95">
							Узел 12×11×10 анэхогнный аваскулярный
						</td>
					</tr>
				</table>
			</div> -->

		</div>

		<div class="footer-padding"></div>

	</div>
	<!-- # END MAIN -->